# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore VS Code dir
.vscode

# Ignore node_modules and related files
node_modules
package-lock.json
package.json
.fake